@inject FrameworkGenerator generator

@functions
{
    Framework framework = null;

    protected override void OnInit()
    {
        framework = generator.Generate();
    }
}
<div class="wrapper">
    <header id="header" class="header">
        <div id="jumbotron" class="promos">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8">
                    <h2>@framework.Name</h2>
                    <p>@framework.Description</p>
                    <button @onclick(OnInit) class="btn btn-lg btn-primary">
                        <span class="button-title">Is @framework.Name not for you?</span>
                        <br><span class="button-teaser">Generate another framework</span>
                    </button>
                </div>
            </div>
        </div>
    </header>
</div>
<div class="container body-container">
    <div>
        <div class="main-head"></div>
        <div class="container body-container">
            <div>
                <div id="subheader-columns">
                    <div class="row">
                        <c:Blurb Title=@($"{framework.Name} is easy") Description=@("Building rich, interactive web applications has never been easier.") />
                        <c:Blurb Title=@($"{framework.Name} is fast") Description=@("Blazing fast performance will leave other JavaScript frameworks in the dust!") />
                        <c:Blurb Title=@($"{framework.Name} is fun") Description=@($"Focus on building your web application features, not the boring stuff! {framework.Name} solves everything else — elegantly!") />
                    </div>
                </div>
            </div>
        </div>

        <c:Companies FrameworkName="@framework.Name" />

        <div class="container body-container">
            <p style="position: relative; top: 75px; height: 0px;">
                Need support? Good luck!
            </p>
        </div>
    </div>
</div>
